/**
 * Copyright 2006 - 2016 TubePress LLC (http://tubepress.com)
 *
 * This file is part of TubePress (http://tubepress.com)
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */


/**
 * Add a little gap to the left of the form
 */
div.tp-bs form.form-horizontal {

    margin-left: -15px;
}


/**
 * WP adds too much of a gap between dropdown items
 */
.tp-bs li {

    margin-bottom: 0;
}
.tp-bs .multiselect-container input {

    margin-top: 0;
}
.wp-admin p .multiselect-container label input[type=checkbox] {

    margin-top: 0;
}



/**
 * Push the filter field down to line up with the intro text
 */
#filter-wrapper {

    padding-top: 48px;
}


/**
 * Fix some padding on the "boxes" at the bottom of the screen
 */
div.has-iframe iframe body {

    padding: 0;
}


/**
 * Add some styling to the Pro labels
 */
.tp-bs label {

    background-color: transparent;
}
.tp-bs label > a:hover {

    text-decoration: none;
}


/**
 * Make the blue checkboxes that WP uses a little bigger and center them
 */
input[type=checkbox]:checked:before {

    font-size: 23px;
    margin: -4px 0 0 -5px;
}






@media screen and ( max-width: 782px ) {

    input[type=radio], input[type=checkbox] {

        height: 16px;
        width: 16px;
    }

    input[type=radio]:checked:before {

        margin: 2px;
    }
}


@media (min-width: 768px) {

    .tp-bs div#tubepress-core-theme-category .control-label {

        text-align: left;
    }
}


.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}
.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}


.tp-bs .popover > .arrow {

    margin-left: 0 !important;
    overflow: visible !important;
    bottom: 0 !important;
}

.tp-bs .popover > .arrow:after {

    background-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    top: auto !important;
}

.tp-bs .popover.left > .arrow,
.tp-bs .popover.left > .arrow:after {

    left: auto !important;
}