div.tubepress_container {
	width: 850px;
}
.tubepress_thumbnail_area {
	float: right;
	height: 400px;
	overflow: scroll;
}
.tubepress_normal_embedded_wrapper {
	float: left;
}
.tubepress_thumb {
	width: auto;
	height: auto;
	clear: left;
}
.tubepress_thumb a {
	float: left;
}
dl.tubepress_meta_group {
	float: left;
	width: 235px;
	padding: 5px 0 0;
}
