/**
 * Copyright 2006 - 2013 TubePress LLC (http://tubepress.com)
 *
 * This file is part of TubePress (http://tubepress.com)
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
.tp-bs {

    font-size: 14px;
    line-height: 1.428;
}

.tp-bs .row {

    margin-left: 0;
    margin-right: 0;
}

.tp-bs label {

    background-color: transparent;
}

.tp-bs li {

    margin-bottom: 0;
}

.tp-bs .multiselect-container label {

    height: 20px;
    margin: 10px 0 10px 0;
    padding: 0 0 0 20px ! important;
    border: none;
    vertical-align: middle;
    font-weight: normal;
}

#filter-wrapper,
.tp-bs .tab-content {

    margin-top: 20px;
}