<button type="button" class="add-gallery-source-button btn btn-default" aria-label="Left Align" id="js-add-gallery-source-button">

    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Source

</button>