.tubepress_container {
	float: left;
	margin-bottom: 2em;
	width: 100%;
}

.tubepress_normal_embedded_wrapper {
	text-align: left;
	margin: auto;
}

.tubepress_embedded_title {
	font-weight: bold;
	font-size: larger;
	margin-bottom: .3em;
}

.tubepress_thumbnail_area {
	margin-top: 1em;	
}

.tubepress_thumbs {
	float: left;
	width: 100%;
	margin-bottom: 1em;
}

.tubepress_thumb {
	float: left;
	width: 120px;
	height: 175px;
	line-height: 1.1em;
	font-size: 11px;
	display: inline;
	overflow: hidden;
}

.tubepress_thumb img {
	padding: 5% 5% 1% 5%;
	display: block;
	margin: 0 auto ! important;
	-ms-interpolation-mode: bicubic;
}

.tubepress_thumb a {
	cursor: pointer;	
}

.tubepress_meta_group {
	margin-top: 0;
	text-align: left;
	padding: 0 5% 0 5%;
}

.tubepress_single_video .tubepress_meta_group {
	padding: 0;
}

.tubepress_meta {
	float: left;
}

dl.tubepress_meta_group {
	width: 100%;
}

dt.tubepress_meta_title, 
dt.tubepress_meta_runtime, 
dt.tubepress_meta_url,
dt.tubepress_meta_description {
	display: none;	
}

dd.tubepress_meta {
	margin-bottom: auto ! important;
	margin-left: 0 ! important;
}

dd.tubepress_meta_title, dd.tubepress_meta_title a, dd.tubepress_meta_title a:hover {
	font-size: 12px;
	font-weight: bold;
	float: left;
	width: auto;
}

dd.tubepress_meta_runtime {
	font-size: 11px;
	font-weight: bold;
	clear: both;	
}

dt.tubepress_meta_author, 
dt.tubepress_meta_keywords, 
dt.tubepress_meta_category, 
dt.tubepress_meta_rating, 
dt.tubepress_meta_ratings,
dt.tubepress_meta_likes,
dt.tubepress_meta_id,
dt.tubepress_meta_views,
dt.tubepress_meta_uploaddate {
	font-style: italic;
	color: #666666;
}

dt.tubepress_meta_author:after, 
dt.tubepress_meta_keywords:after, 
dt.tubepress_meta_category:after, 
dt.tubepress_meta_rating:after, 
dt.tubepress_meta_ratings:after,
dt.tubepress_meta_likes:after,
dt.tubepress_meta_id:after,
dt.tubepress_meta_views:after,
dt.tubepress_meta_uploaddate:after {
	content: ":"
}

dd.tubepress_meta_author, 
dd.tubepress_meta_keywords,
dd.tubepress_meta_category, 
dd.tubepress_meta_rating, 
dd.tubepress_meta_ratings,
dd.tubepress_meta_likes,
dd.tubepress_meta_id,
dd.tubepress_meta_views,
dd.tubepress_meta_uploaddate {
	margin-left: .2em ! important;	
}

dd.tubepress_meta_url {
	clear: left;
}
dd.tubepress_meta_description {
	clear: both;
	float: left;
	width: 100%;
}

.tubepress_meta_group dt {
	clear: both;
	float: left;
}

.tubepress_sidebar .tubepress_thumb {
	width: 100%;	
	height: auto;
	margin-top: 1em;
}

.tubepress_sidebar .tubepress_thumb img {
    width: auto ! important;
    padding: 5% 5% 1% 2%;
    margin: 0 auto ! important;
    -ms-interpolation-mode: bicubic;
    display: inline;
}

.tubepress_sidebar .tubepress_thumbnail_area {
    margin-top: auto;   
}

.tubepress_sidebar .tubepress_thumb  {
    margin-top: auto;   
}

.tubepress_sidebar .tubepress_meta_group {
    padding: 0 2%;  
}

.tubepress_container div.pagination span.disabled {
	color: #adaaad;
}

.tubepress_container div.pagination .tubepress_pagination_dots {
    padding: 0px 0px 0px 3px;
}

div.tubepress_single_video {
	float: left;	
	width: 100%;
	text-align: left;
}

div.tubepress_single_video dd.tubepress_meta_description {
	margin-top: .3em;
	margin-bottom: .8em;
}

div.tubepress_container div.pagination {
    font-size: 13px;	
    text-align:center;
    clear: both;    
    margin: .7em 0px;
}

div.tubepress_container div.pagination a, div.tubepress_container div.pagination span {
    display: inline-block;
    margin: 2px !important;
    text-decoration: none;
    padding: 3px 5px;
    cursor: pointer;
    line-height: 24px;
}

div.tubepress_container div.pagination span.current {
    background: none repeat scroll 0 0 #313428;
    border: 1px solid #202020;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    margin: 0;
    padding: 0px 8px;
    
}
div.tubepress_container div.pagination a {
    background: #999; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F0F0F0'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#F0F0F0)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #F0F0F0); /* for firefox 3.6+ */ 
    border: 1px solid #C0C0C0;
    border-radius: 3px 3px 3px 3px;
    color: #000099;
    display: inline-block;
    margin: 0;
    padding: 0px 8px;
    text-decoration: none;
}

div.tubepress_container div.pagination a:hover {
	box-shadow: 0 0 3px #383838;
}