/*!
 * Copyright 2006 - 2014 TubePress LLC (http://tubepress.com)
 *
 * This file is part of TubePress (http://tubepress.com)
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */


/**
 **********************************************************************************************
 **** VIDEO THUMBNAILS - GENERAL
 **********************************************************************************************
 */

.tubepress_thumbnail_area {

    /** Add a margin above the thumbnail grid. */
    margin-top: 1em;
}

.tubepress_thumb {

    /** This lets the thumbnails "flow" naturally across the page. */
    display: inline-block;

    /** http://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
    margin-right: -4px;

    /** Ensure everything inside aligns with the top edge. */
    vertical-align: top;

    /** Ensures that the thumbs are vertically spaced a bit */
    margin-bottom: 1em;
}

.tubepress_thumb a {

    /** Make sure we have a pointer, even if no href. */
    cursor: pointer;
}

/**
 * These selectors apply to the main thumbnail image, which is wrapped in an anchor.
 */
.tubepress_thumb > a,
.tubepress_thumb .tubepress_embed,
.tubepress_thumb img {

    /** Ensure that this is a block-level element. */
    display: block;

    /** This centers the thumbnail image inside the div.tubepress_thumb */
    margin: 0 auto !important;

    /** http://css-tricks.com/ie-fix-bicubic-scaling-for-images/ */
    -ms-interpolation-mode: bicubic
}


/**
 **********************************************************************************************
 **** VIDEO THUMBNAILS - METADATA
 **********************************************************************************************
 */

/**
 * dl refers to the overall group of metadata
 */
dl.tubepress_meta_group {

    /** This centers the dl inside the div.tubepress_thumb */
    margin: 0 auto ! important;
    font-size: 11px;
}

/**
 * dt refers to the label for a piece of metadata (e.g. "Author" or "Date uploaded")
 */
dt.tubepress_meta {

    /** Let the labels "flow" to the left */
    display: inline;
}

dt.tubepress_meta:after {

    /** Inserts a colon between the label and value. */
    content: ": ";
}

dt.tubepress_meta_title,
dt.tubepress_meta_duration,
dt.tubepress_meta_homeUrl,
dt.tubepress_meta_description {

    /** Hide these labels completely! */
    display: none;
}

/**
 * dd refers to the value for a piece of metadata (e.g. "1:33" or "billyjeanking")
 */
dd.tubepress_meta {

    margin: 0 0 auto 0 ! important;
    padding: 0 !important;
    display: inline;
}

dd.tubepress_meta:after {

    /** Neat trick to force a line break: https://stackoverflow.com/questions/4609279/css-to-line-break-before-after-a-particular-inline-block-item */
    content: "\A";
    white-space: pre;
}

/**
 * Apply some basic styling to the video title.
 */
dd.tubepress_meta_title {

    font-weight: bold;
    font-size: 13px;
}

/**
 * The following dd's have their corresponding dt's set to display:none. This can cause
 * text overflow in the dd's, unfortunately, so the following two rules correct that.
 */
dd.tubepress_meta_title,
dd.tubepress_meta_duration,
dd.tubepress_meta_homeUrl,
dd.tubepress_meta_description
{
    display: block;
}
dd.tubepress_meta_title:after,
dd.tubepress_meta_duration:after,
dd.tubepress_meta_homeUrl:after,
dd.tubepress_meta_description:after
{
    content: '';
}


/**
 **********************************************************************************************
 **** EMBEDDED VIDEO PLAYER
 **********************************************************************************************
 */

.tubepress_normal_embedded_wrapper {

    text-align: left;
    margin: auto;
}

.tubepress_embedded_title {

    font-weight: 700;
    font-size: larger;
    margin-bottom: .3em;
}





/**
 **********************************************************************************************
 **** SINGLE VIDEO EMBEDS
 **********************************************************************************************
 */
div.tubepress_single_video dl.tubepress_meta_group {

    margin-left: 0 !important;
}




/**
 **********************************************************************************************
 **** PAGINATION
 **********************************************************************************************
 */

/**
 * This block copied nearly verbatim from
 * http://cssdeck.com/labs/twitter-bootstrap-pagination-and-pager
 */
.tubepress_pagination {
    margin: 0 0 1em 0;
    font-size: 13px;
}
.tubepress_pagination ul {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.tubepress_pagination li {
    display: inline;
    margin: 0 auto !important;
}
.tubepress_pagination a,
.tubepress_pagination span {
    float: left;
    padding: 0 14px;
    line-height: 27px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
}
.tubepress_pagination a:hover,
.tubepress_pagination .active span {
    background-color: #f5f5f5;
}
.tubepress_pagination .active span {
    color: #999999;
    cursor: default;
}
.tubepress_pagination .disabled span,
.tubepress_pagination .disabled a,
.tubepress_pagination .disabled a:hover {
    color: #999999;
    background-color: transparent;
    cursor: default;
}
.tubepress_pagination li:first-child a,
.tubepress_pagination li:first-child span {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.tubepress_pagination li:last-child a,
.tubepress_pagination li:last-child span {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.tubepress_pagination-centered {
    text-align: center;
}
.tubepress_pagination-right {
    text-align: right;
}



/**
 **********************************************************************************************
 **** SIDEBAR THEME
 **********************************************************************************************
 */
/**
 * Many folks use both the "tubepress/legacy-default" theme in conjunction with the default
 * theme. So for convenience we include some CSS rules for the sidebar here.
 */
.tubepress_sidebar .tubepress_thumb img {

    margin: 0 !important;
}