<div class="tp-bs">

    <form class="form-horizontal" role="form" method="post">

        <div class="row">

            <div class="col-md-9">

                <h3>The page title</h3>

                <div class="well well-sm">The intro blurb</div>

            </div>

            <div class="col-md-3">

                <p id="filter-wrapper" class="text-right">

                    participant filter name abc
                </p>
            </div>

        </div>


        <script type="text/javascript">
            var TubePressErrors = [
            ];
        </script>



        <div class="row">
            <div class="col-md-12">
                <div class="tabbable">

                    <ul class="nav nav-tabs">

                    </ul>

                    <div class="tab-content">


                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary" name="tubepress_save">Save me</button>
            </div>

            <div class="col-md-3">


                <div class="panel panel-info">
                    <div class="panel-heading"><strong>You're Missing Out!</strong></div>
                    <div class="panel-body has-iframe" data-src="http://snippets.wp.tubepress.com/youre-missing-out.php">

                    </div>
                </div>

            </div>

            <div class="col-md-3">

                <div class="panel panel-info">
                    <div class="panel-heading"><strong>TubePress News</strong></div>
                    <div class="panel-body has-iframe" data-src="http://snippets.wp.tubepress.com/latest-news.php">

                    </div>
                </div>

            </div>

            <div class="col-md-3">

                <div class="panel panel-info">
                    <div class="panel-heading"><strong>Need Help?</strong></div>
                    <div class="panel-body has-iframe" data-src="http://snippets.wp.tubepress.com/need-help.php">

                    </div>
                </div>
            </div>
        </div>

        xyz
    </form>
</div>
