html {
  padding:       0pt;
  margin:        0pt;
}

body {
  margin-left:   10%;
  margin-right:  10%;
  font-family:   Arial, Sans-serif;
}

div {
  margin:        0pt;
}

hr {
  border:        1px solid gray;
  background:    gray;
}

h1,h2,h3,h4 {
  color:         #234623;
  font-family:   Arial, Sans-serif;
}

pre {
  line-height:   1.0;
  color:         black;
}

div.toc dt, div.toc dd, div.toc dl {
    font-size: small;
    margin-top: 0;
    margin-bottom: 0;
}

div.toc span.chapter {
    margin-top: 0;
    margin-bottom: 0;	
}

pre.programlisting {
  font-size:     10pt;
  padding:       7pt 3pt;
  border:        1pt solid black;
  background:    #eeeeee;
  clear:         both;
  white-space:  pre-wrap;
}


div.table table {
    border-collapse: collapse;
    border: 0;
    border-bottom: 2px solid #d2ecdd;
    font-size: 80%;
}

div.table .mediaobject {
    padding: 0;
    display: inline;	
}

div.table td {
  padding-left:  7px;
  padding-right: 7px;
  border: 1px solid #CACACA;
}

div.table th {
    border: 1px solid #CACACA;
    padding: 4px 6px;
    
    background-color: #f4fcf0;
    color: #354042;

}

li.listitem p {
    margin-bottom: -.5em;   
}

h1,h2,h3,h4 {
    margin-top: .5em;   
}

div.caption p {
    text-align: center;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.mediaobject {
    padding-top: 30px; 
    padding-bottom: 30px; 
}

.legalnotice {
    font-family: Verdana, Arial, helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
}

p.releaseinfo {
    font-size: 100%;
    font-weight: bold;
    font-family: Verdana, Arial, helvetica, sans-serif;
    padding-top: 10px;
}

div.syntaxhighlighter {
	font-size: 13px ! important;
}

.syntaxhighlighter.nogutter  {
    padding: 5px ! important;	
}

div.license {
	font-size: 10px;
}