<button type="button" class="add-gallery-source-button btn btn-default" aria-label="Add Source" id="js-multisource-button-add"
        data-toggle="popover" data-placement="right" data-trigger="hover"
        data-content="{{ 'TubePress will combine your sources into a single, unified gallery.' | trans }}">  {# >(translatable)< #}

    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ 'Add Source' | trans }} {# >(translatable)< #}

</button>
