{#
 # Copyright 2006 - 2016 TubePress LLC (http://tubepress.com)
 #
 # This file is part of TubePress (http://tubepress.com)
 #
 # This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/.
 #}
{% if fieldProvider.fieldsShouldBeInSeparateBoxes %}
    <div class="panel panel-default tubepress-field-provider-{{ fieldProvider.id }}">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ fieldProvider.untranslatedDisplayName|trans }}
            </h3>
        </div>
    <div class="panel-body">
{% endif %}

{% for field in fieldProvider.fields %}
    {% include 'options-ui/page-fragments/single-field.html.twig' %}
{% endfor %}

{% if fieldProvider.fieldsShouldBeInSeparateBoxes %}

        </div>{# end of div.panel-body #}
    </div>{# end of div.panel #}
{% endif %}