
<a data-toggle="collapse" data-parent="#js-gallery-sources-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

    <img class="media-provider-icon" src="/wp-content/plugins/tubepress/src/add-ons/youtube_v3/web/images/icons/youtube-icon-34w_x_24h.png" alt="YouTube logo" />YouTube search for cats and dogs
</a>

<span class="source-control-icon glyphicon glyphicon-remove pull-right js-gallery-sources-delete-initiate" aria-hidden="true"></span>

<span class="source-control-icon glyphicon glyphicon-pencil pull-right" aria-hidden="true" data-toggle="collapse" data-parent="#js-gallery-sources-accordion" href="#collapseOne" aria-controls="collapseOne"></span>

<span class="source-control-icon source-control-reorder glyphicon glyphicon-sort pull-right" aria-hidden="true"></span>
