/**
 * Copyright 2006 - 2013 TubePress LLC (http://tubepress.org)
 *
 * This file is part of TubePress (http://tubepress.org)
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */
#tubepress_tabs {
	
	min-height: 300px;
    width: 100%;
    float: left;
    padding: 0;
} 
 
.tubepress-tab {
    border-collapse: collapse;
    clear: both;
    margin-bottom: -8px;
    margin-top: 0.5em;
    width: 100%;
    padding-bottom: 1em;
}

.tubepress-tab td {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 9px;
    padding: 8px 10px;
}
.tubepress-tab th, .form-wrap label {
	font-size: 13px;
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
.tubepress-tab th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
.tubepress-tab th.th-full {
    width: auto;
}

ul.ui-multiselect-checkboxes label span {
	
	margin-left: 3px;
}

div.tubepress-participant{

    margin-bottom: 1.8em;
    padding: 0;
}

div.tubepress-participant-header {

    border: 0;
    padding: 0.6em;
    margin-bottom: 1em;
}

div.tubepress-tab {

    min-width: 600px;
}

th.tubepress-field-header img {

    float: left;
    margin: 0.2em 0.5em 1em 0;
}

th.tubepress-pro-field-header {

    min-width: 150px;
}

td.tubepress-pro-banner {

    padding: 12px 0 0 0;
    vertical-align: top;
}

td.tubepress-pro-banner img {

    margin-left: 1em;
    margin-top: -3px;
}

div.tubepress-notice-box {

    background-color: #FFFFE0;
    border-color: #E6DB55;
    margin: 0 0 15px;
    padding: 7px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
    border-radius: 3px; /* CSS3 */
    border-style: solid;
    border-width: 1px;
}

div#tubepress-box-holder {

    float: right;
}

input#tubepress-submit-button {

    clear: both;
    margin-top: 1em;
    margin-bottom: 2em;
    float: left;
    width: 70px;
}

#tubepress-box-holder iframe {

    width: 100%;
    overflow: hidden;
    min-height: 210px;
}

#tubepress-box-holder iframe::-webkit-scrollbar {

    display: none;
}

.tubepress-box {

    margin-top: 1em;
    float: left;
    margin-left: 1em;
}