.tubepress_normal_embedded_wrapper {
    text-align:center;
}

.tubepress_normal_embedded_wrapper .tubepress_normal_embedded_inner {
    text-align: left;
    margin: auto;
}

.tubepress_normal_embedded_wrapper .tubepress_normal_embedded_inner .tubepress_embedded_title {
    font-weight: bold;
    font-size: larger;
    margin-bottom: .3em;
}

.tubepress_meta {
    color: #666;
    font-style: italic;
}

.tubepress_meta_group {
    text-align: left;
}

.tubepress_meta_runtime {
    font-size: 11px;
    color: #000;
    font-weight: bold;
}

.tubepress_thumb {
    float: left;
    width: 32%;
    line-height: 1.1em;
    font-size: 11px;
    height: 175px;
    text-align: center;
    overflow: hidden;
}

.tubepress_thumb a {
	cursor: pointer;	
}

.tubepress_meta_title, .tubepress_meta_title a, .tubepress_meta_title a:hover {
    font-size: 12px;
    font-weight: bold;
}

.tubepress_thumb_inner {
    margin: auto;
}

.tubepress_thumbs {
    clear:both;
    padding: 0 0 0 5px;
    padding-top: 1em;
}
