body {
	font-family:Cambria,Georgia,'Times New Roman',Serif;
font-size:14px;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
img {
	border: 0;
}
pre {
 width: 60%;
 background: #EEE;
 border-width: 1px;
 border-color: #CCC;
 border-style: solid;
 border-left-width: 4px;
 border-left-color: #000066;

 font-family: Courier, monospace;
 line-height: 115%;
 clip : auto;
 overflow : auto;

 padding: 1em;
 padding-left: 1.5em;
 margin: 1em;
 margin-left: 2em; 
 margin-right: 2em;
}

