/* Basic stuff */
body {
	margin: 0; padding: 2em;
	font: 12px Helvetica, Arial, sans-serif;
	font-size: 12px;
	background: #fff;
}
/* Basic stuff */

table {
	border-collapse: collapse;
	border: 0;
	border-bottom: 2px solid #d2ecdd;
}
 td,
 th {
	border: 1px solid #eee;
	padding: 8px 12px;
}
 th { font-weight: bold; }
 thead th {
	background-color: #dcf1f5;
	color: #3c423c;
	border-top-color: #e5f3f7;
	border-right-color: #c2e0f2;
	border-bottom-color: #c2e0f2;
	border-left-color: #e5f3f7;
}
 tbody th {
	padding: 0;
	background-color: #f4fcf0;
	color: #354042;
	border-right-color: #d2ecdd;
	border-bottom-color: #d2ecdd;
	border-left-color: #eff7e9;
}
 tbody td {}
 .alt td { background-color: #edf7e9; }
 tbody .alt th { background-color: #e9f7e4; }
 .center { text-align: center; }
 .num {
	font-family: monaco,"Lucida Console",courier,mono-space,monospace;
	font-size: 13px;
}
 thead td { border: 0; }
 a {
	border: 0;
	text-decoration: none;
}
 a:hover {
	background: none;
	text-decoration: underline;
}

