<div class="tubepress_container">
    
    <!-- BEGIN bigVideo -->
    <div id="tubepress_mainvideo">
        <div id="tubepress_inner" style="width: {WIDTH}px">
            <div id="tubepress_btitle">
                {TITLE}
            </div>
            <object type="application/x-shockwave-flash" style="width:{WIDTH}px;height:{HEIGHT}px;" data="http://www.youtube.com/v/{ID}">
                <param name="movie" value="http://www.youtube.com/v/{ID}" />
            </object>
        </div><!-- tubepress_inner -->
    </div> <!--tubepress_mainvideo--> <br />
    <!-- END bigVideo -->
	
	<!-- BEGIN topPagination -->
	<div class="pagination">
	    {PAGINATION}
	</div>
	<!-- END topPagination -->
	
	<div class="tubepress_video_thumbs">
	
		<!-- BEGIN thumb -->
		<div class="tubepress_thumb">
			<div class="tubepress_video_thumb_inner" style="width: {THUMBWIDTH}px">
				<a {PLAYLINK}>
					<img alt="{TITLE}" src="{THUMBURL}" width="{THUMBWIDTH}" height="{THUMBHEIGHT}" />
				</a>
				<div class="tubepress_meta_group">
					
					<!-- BEGIN title -->
					<div class="tubepress_stitle">
                        <a {PLAYLINK}>{TITLE}</a><br/>
                    </div>
					<!-- END title -->
					
					<!-- BEGIN runtime -->
					<span class="tubepress_runtime">
					    {RUNTIME}
					</span><br/>
					<!-- END runtime -->
					
					<!--  BEGIN author -->
					<span class="tubepress_meta">
                        {METANAME}: 
                    </span><a href="http://www.youtube.com/profile?user={AUTHOR}">{AUTHOR}</a><br/>
					<!--  END author -->
					
					<!-- BEGIN comments -->
					<span class="tubepress_meta">
                        {METANAME}: 
                    </span><a href="http://youtube.com/comment_servlet?all_comments&amp;v={ID}">{COUNT}</a><br/>
					<!-- END comments -->
					
					<!-- BEGIN tags -->
					<span class="tubepress_meta">
                        {METANAME}: 
                    </span><a href="http://youtube.com/results?search_query={SEARCHSTRING}&amp;search=Search">{TAGS}</a><br/>
					<!-- END tags -->
					
					<!--  BEGIN url -->
					<a href="{LINKVALUE}">{LINKTEXT}</a><br />
					<!--  END url -->
					
					<!-- BEGIN meta -->
					<span class="tubepress_meta">
                        {METANAME}: 
                    </span>{METAVALUE}<br/>
					<!-- END meta -->	
					
					<!--  BEGIN description -->
					{DESCRIPTION}
					<!--  END description -->

				</div><!-- tubepress_meta_group -->
			</div><!-- tubepress_video_thumb_inner -->
		</div><!-- tubepress_thumb -->
		<!-- END thumb -->

	</div><!-- tubepress_video_thumbs -->
	
	<!-- BEGIN bottomPagination -->
	<div class="pagination">
	    {PAGINATION}
	</div>
	<!-- END bottomPagination -->

</div><!-- tubepress_container -->