    <!-- BEGIN bigVideo -->
    <div id="tubepress_mainvideo">
        <div id="tubepress_inner" style="width: {WIDTH}px">
            <div id="tubepress_btitle">
                {TITLE}
            </div>
            <object type="application/x-shockwave-flash" style="width:{WIDTH}px;height:{HEIGHT}px;" data="http://www.youtube.com/v/{ID}">
                <param name="movie" value="http://www.youtube.com/v/{ID}" />
            </object>
        </div><!-- tubepress_inner -->
    </div> <!--tubepress_mainvideo--> <br />
    <!-- END bigVideo -->