<div class="oauth2-client-registration">
    <ol>

        {% for instruction in translatedInstructions %}

            {% if instruction is iterable %}

                <ol>

                    {% for subInstruction in instruction %}

                        <li>
                            {{ subInstruction | raw }}
                        </li>

                    {% endfor %}

                </ol>

            {% else %}

                <li>
                    {{ instruction | raw }}
                </li>

            {% endif %}

        {% endfor %}

    </ol>
</div>