/**
 * Copyright 2006 - 2012 Eric D. Hough (http://ehough.com)
 *
 * This file is part of TubePress (http://tubepress.org)
 *
 * TubePress is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * TubePress is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TubePress.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
#tubepress_tabs {
	
	min-height: 300px;
} 
 
.tubepress-tab {
    border-collapse: collapse;
    clear: both;
    margin-bottom: -8px;
    margin-top: 0.5em;
    width: 100%;
}

.tubepress-tab td {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 9px;
    padding: 8px 10px;
}
.tubepress-tab th, .form-wrap label {
	font-size: 13px;
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
.tubepress-tab th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    width: 200px;
}
.tubepress-tab th.th-full {
    width: auto;
}

ul.ui-multiselect-checkboxes label span {
	
	margin-left: 3px;
}

