#tubepress_mainvideo {
	text-align:center;
}

#tubepress_mainvideo #inner {
	text-align: left;
	margin: auto;
}

#tubepress_mainvideo #inner #title {
	font-weight: bold;
	font-size: larger;
	margin-bottom: .3em;
}

.tubepress_meta {
	color: #666;
	font-style: italic;
}

.tubepress_meta_group {
	text-align: left;
}

.tubepress_runtime {
	font-size: 11px;
	color: #000;
	font-weight: bold;
}

.tubepress_thumb {
	float: left;
	width: 33%;
	line-height: 1.1em;
	font-size: 11px;
	height: 175px;
	text-align: center;
	overflow: hidden;
}

.tubepress_title, .tubepress_title a, .tubepress_title a:hover {
	font-size: 12px;
	font-weight: bold;
}

.tubepress_video_thumb_inner {
	margin: auto;
}

.tubepress_video_thumbs {
	clear:both;
	padding: 0 0 0 5px;
	height: 500px;
	overflow:scroll;
	border: 1px solid gray;
	padding-top: 1em;
}
