<phpunit
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
    strict="true"
    processIsolation="false"
    bootstrap="../../../vendor/autoload.php">
	<testsuites>
	   <testsuite name="quick">
	       <directory>../php</directory>
           <exclude>src/test/php/classes/tubepress/test/impl/i18n/</exclude>
           <exclude>../php/classes/tubepress/test/impl/i18n/</exclude>
	   </testsuite>
        <testsuite name="all">
            <directory>../php</directory>
        </testsuite>
	</testsuites>
    <filter>
        <whitelist>
           <directory suffix=".php">../../main/php</directory>
            <exclude>
                <file>../../main/web/php/ajaxEndpoint.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
