<phpunit
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	strict="true"
    processIsolation="false"
    bootstrap="../../../vendor/autoload.php">
	<testsuites>
	   <testsuite name="TubePress tests">
	       <directory>../php/</directory>
	   </testsuite>
	</testsuites>
    <filter>
        <whitelist>
           <directory suffix=".php">../../main/php</directory>
            <exclude>
                <file>../../main/php/scripts/ajaxEndpoint.php</file>
            </exclude>
        </whitelist>

    </filter>
</phpunit>
