/*!
 * Copyright 2006 - 2014 TubePress LLC (http://tubepress.com)
 *
 * This file is part of TubePress (http://tubepress.com)
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.tubepress-youtube {

    font-family: arial, sans-serif;
}

.tubepress-youtube a:hover {

    text-decoration: underline;
}

.tubepress-youtube dd.tubepress_meta_title a {

    font-weight: bold;
    font-size: 13px;
    color: rgb(39, 147, 230);
    line-height: 17px;
}

.tubepress-youtube div.tubepress_thumb img {

    border-radius: 0;
}

.tubepress-youtube dl.tubepress_meta_group {

    position: relative;
}

.tubepress-youtube span.tubepress_meta_runtime {

    padding: 0 4px;
    font-weight: bold;
    font-size: 11px;
    background-color: #000;
    color: #fff;
    line-height: 14px;
    opacity: .75;
    position: absolute;
    right: 2px;
    bottom: 2px;
    left: auto;
    cursor: pointer;
}

.tubepress-youtube dt.tubepress_meta_author:after,
.tubepress-youtube dt.tubepress_meta_views:after{
    content: '';
}

.tubepress-youtube dt.tubepress_meta_author {

    font-weight: normal;
    font-style: normal;
    font-size: 11px;
    margin-right: 2px;
}

.tubepress-youtube dd.tubepress_meta_author a {

    color: rgb(34, 34, 34);
    text-decoration: none;
}

.tubepress-youtube dd.tubepress_meta_author a:hover {

    color: #2793e6;
    text-decoration: underline;
}

.tubepress-youtube dd.tubepress_meta_views {

    margin-left: 0 !important;
    line-height: 10px;
}

div.tubepress_img {

    position: relative;
}