<phpunit
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
    strict="true"
    processIsolation="false"
    bootstrap="../../../vendor/autoload.php">
	<testsuites>
	   <testsuite name="quick">
           <directory>..</directory>
           <exclude>../../main</exclude>
           <exclude>../add-ons/translation</exclude>
	   </testsuite>
        <testsuite name="all">
            <directory>src/test</directory>
        </testsuite>
	</testsuites>
    <filter>
        <whitelist>
           <directory suffix=".php">../../main/php</directory>
            <exclude>
                <file>../../main/web/php/ajaxEndpoint.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>